/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,16,1.25,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-2xs: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
  --space-xs: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
  --space-s: clamp(1rem, 1rem + 0vw, 1rem);
  --space-m: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
  --space-l: clamp(2rem, 2rem + 0vw, 2rem);
  --space-xl: clamp(3rem, 3rem + 0vw, 3rem);
  --space-2xl: clamp(4rem, 4rem + 0vw, 4rem);
  --space-3xl: clamp(6rem, 6rem + 0vw, 6rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.163rem + 0.4348vw, 0.5rem);
  --space-2xs-xs: clamp(0.5rem, 0.413rem + 0.4348vw, 0.75rem);
  --space-xs-s: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
  --space-s-m: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  --space-m-l: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);
  --space-l-xl: clamp(2rem, 1.6522rem + 1.7391vw, 3rem);
  --space-xl-2xl: clamp(3rem, 2.6522rem + 1.7391vw, 4rem);
  --space-2xl-3xl: clamp(4rem, 3.3043rem + 3.4783vw, 6rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.6522rem + 1.7391vw, 2rem);
}