/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,16,1.25,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--1: clamp(0.8rem, 0.8449rem + -0.058vw, 0.8333rem);
  --step-0: clamp(1rem, 1rem + 0vw, 1rem);
  --step-1: clamp(1.2rem, 1.1826rem + 0.087vw, 1.25rem);
  --step-2: clamp(1.44rem, 1.3974rem + 0.213vw, 1.5625rem);
  --step-3: clamp(1.728rem, 1.6497rem + 0.3915vw, 1.9531rem);
  --step-4: clamp(2.0736rem, 1.9457rem + 0.6397vw, 2.4414rem);
  --step-5: clamp(2.4883rem, 2.2923rem + 0.9799vw, 3.0518rem);
}