:root {
  --clr-darkest: #40120b;
  --clr-darker: #8c2d1c;
  --clr-dark: #bf3d2f2b;
  --clr-accent: #d95f2e;
  --clr-accent-lt: #d95e2e82;
  --clr-light: #f2a14a4f;
  --clr-white: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--clr-white);
  color: var(--clr-darkest);
  padding: var(--space-xl);
}

main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: var(--clr-light);
}

.wrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
  /* background-color: var(--clr-light); */
}

.wrapper_h1_list {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

h1 {
  font-size: var(--step-5);
  margin-top: var(--space-l);
}

ul {
  list-style: none;
}

.projectlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
  min-width: 300px;
}

.projectlist li {
  width: 100%;
  display: flex;
}

.projectlist li a {
  display: inline-flex;
  align-items: center;
  gap: var(--space-s);
  background-color: var(--clr-dark);
  color: var(--clr-darkest);
  width: 100%;
  height: var(--space-m);
  line-height: 1;
  border: none;
  outline: none;
  text-decoration: none;
  /* padding: 12px 15px; */
  vertical-align: middle;
}

li:first-child {
  margin-bottom: var(--space-s);
}

span {
  height: 100%;
  color: var(--clr-accent);
  font-size: var(--step-3);
  /* line-height: 0; */
  vertical-align: middle;
}

.arrow_right {
  width: var(--space-x3l);
  height: 100%;
  stroke: black;
  stroke-width: 0.1px;
  align-self: center;

  fill: var(--clr-accent);
}

a:link {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:focus {
  outline: none;
  background-color: var(--clr-darker);
}

a:hover {
  outline: none;
  background-color: var(--clr-darker);
  box-shadow: inset -1rem -1px var(--clr-accent-lt);
}

a:active {
  background-color: var(--clr-darker);
}
