/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/lato-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/lato-v25-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/lato-v25-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* colors */
  --color-1: rgb(201, 201, 201);
  --color-2: rgb(23, 23, 23);
  --color-3: rgb(59, 59, 59);
  --bg-color-3: rgba(33, 164, 33, 0.776);
  --bg-color-4: rgba(1, 1, 195, 0.7);
  /* border-radius */
  --br-main: 4rem;
}

/* :root {
  /* colors */
/* --color-1: rgb(201, 201, 201); */
/* --color-2: rgb(23, 23, 23); */
/* --color-3: rgb(59, 59, 59); */
/* --bg-color-3: rgb(0, 255, 0); */
/* --bg-color-4: rgb(0, 0, 255); */
/* border-radius */
/* --br-main: 4rem; */
/* } */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--color-2);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80vh;
  background-color: var(--bg-color-3);
  border-radius: var(--br-main);
}

.btn-color {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  background-color: var(--color-2);
  font-family: inherit;
  font-weight: inherit;
  text-shadow: rgb(0, 0, 0), 5px, 10px, 0.5rem;
  width: 40%;
  padding: 1.2rem 1rem 1.2rem;
  border-radius: var(--br-main);
  transition: 0.4s;
  cursor: pointer;
  border: none;
  background-clip: padding-box;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  /* flex-shrink: 10; */
  flex-wrap: wrap;
  /* white-space: nowrap; */
  &:hover {
    background-color: var(--color-3);
    color: var(--color-1);
  }
  &:active {
    box-shadow: inset 0.4rem -0.3rem var(--bg-color-3);
  }
}

@media (max-width: 554px) {
  .btn-color {
    font-size: 0.89rem;
  }
}

.btn-color.btn-color-switch:active {
  box-shadow: inset 0.4rem -0.3rem var(--bg-color-4);
}
.wordColor {
  color: var(--bg-color-4);
  text-shadow:
    -1px 0 rgba(255, 255, 255, 0.55),
    0 1px rgba(255, 255, 255, 0.479),
    1px 0 rgba(255, 255, 255, 0.349),
    0 -1px rgba(255, 255, 255, 0.384);
  align-self: flex-end;
  letter-spacing: 1.5px;
}
